# Discord Bot Token
DISCORD_TOKEN=YOUR_DISCORD_BOT_TOKEN_HERE

# Backend URL (l'adresse de votre serveur Node.js)
BACKEND_URL=http://localhost:3000

# Guild ID (ID du serveur Discord)
GUILD_ID=YOUR_GUILD_ID_HERE

# MongoDB Connection String
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/roblox-bans?retryWrites=true&w=majority

# Port du serveur Node.js
PORT=3000
